function Sys.xor 2
push argument 0
pop local 0
push argument 1
pop local 1
push local 0
push local 1
or
push local 0
push local 1
and
not
and
return

function Sys.shiftLeft 2
push argument 0
pop local 0
push argument 1
pop local 1
label shift_iteration
push local 1
push constant 0
eq
if-goto shift_complete
push local 0
push local 0
add
pop local 0
push local 1
push constant 1
sub
pop local 1
goto shift_iteration
label shift_complete
push local 0
return

function Sys.multiply 3
push argument 0
pop local 0
push argument 1
pop local 1
push constant 0
pop local 2
label multiply_cycle
push local 1
push constant 0
eq
if-goto multiplication_finished
push local 0
push local 2
add
pop local 2
push local 1
push constant 1
sub
pop local 1
goto multiply_cycle
label multiplication_finished
push local 2
return

function Sys.computeParity 5
push argument 0
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
label bit_checking
push local 2
push constant 15
gt
if-goto parity_calculated
push constant 1
push local 2
call Sys.shiftLeft 2
pop local 3
push local 0
push local 3
and
pop local 4
push local 4
push constant 0
eq
if-goto skip_flip
push local 1
push constant 1
call Sys.xor 2
pop local 1
label skip_flip
push local 2
push constant 1
add
pop local 2
goto bit_checking
label parity_calculated
push local 1
return

function Sys.encode 2
push argument 0
call Sys.computeParity 1
pop local 0
push local 0
push constant 1
eq
if-goto set_parity_bit
push argument 0
push constant 32767
and
return
label set_parity_bit
push constant 1
push constant 15
call Sys.shiftLeft 2
pop local 1
push argument 0
push local 1
or
return

function Sys.encodeold 2
push argument 0
call Sys.computeParity 1
push constant 15
push argument 0
push constant 32767
and
or
return

function Sys.init 0
call Sys.encode 1
label infinite_loop
goto infinite_loop